<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huazhu.application.cms.organization.dao.BrandMapper">
    <sql id="ObjectSql">
	   row_id as "rowId",
	   chinese_name as "brandChineseName",
	   english_name as "brandEnglishName",
	   group_id as "groupId",
	   create_date as "createDate",
	   create_user as "createUser",
	   last_update_date as "lastUpdateDate",
	   last_update_user as "lastUpdateUser",
	   active_flag as "activeFlag"
   </sql>
   <!-- 条件查询 -->
   <select id="queryBrand" resultType="com.huazhu.application.cms.organization.entity.Brand" parameterType="com.huazhu.application.cms.organization.entity.Brand">
       SELECT
          <include refid="ObjectSql"/>
       FROM org_brand
       WHERE 1=1
       <if test=" rowId != null "> AND row_id = #{rowId}</if>
       <if test=" brandChineseName != null and brandChineseName != '' "> AND chinese_name = #{groupChineseName}</if>
       <if test=" brandEnglishName != null and brandEnglishName != '' "> AND english_name = #{groupEnglishName}</if>
       <if test=" groupId != null and groupId != '' "> AND group_id = #{groupId}</if>
       <if test=" createDate != null and createDate != '' "> AND create_date = #{createDate}</if>
       <if test=" createUser != null and createUser != '' "> AND create_user = #{createUser}</if>
       <if test=" lastUpdateDate != null and lastUpdateDate != '' "> AND last_update_date = #{lastUpdateDate}</if>
       <if test=" lastUpdateUser != null and lastUpdateUser != '' "> AND last_update_user = #{lastUpdateUser}</if>
       <if test=" activeFlag != null and activeFlag != 0 "> AND active_flag = #{activeFlag}</if>
   </select>
   
   <select id="queryBrandByRowId" resultType="com.huazhu.application.cms.organization.entity.Brand" parameterType="java.lang.Long">
       SELECT
          <include refid="ObjectSql"/>
       FROM org_brand
       WHERE row_id = #{rowId}
   </select>
   
   <!-- 条件模糊查询 -->
   <select id="queryBrandByConditions" resultType="com.huazhu.application.cms.organization.entity.Brand" parameterType="com.huazhu.application.cms.organization.entity.Brand">
       SELECT
          <include refid="ObjectSql"/>
       FROM org_brand
       WHERE 1=1
       <if test=" rowId != null "> AND row_id = #{rowId}</if>
       <if test=" brandChineseName != null "> AND chinese_name = LIKE CONCAT('%',#{brandChineseName},'%' )</if>
       <if test=" brandEnglishName != null "> AND english_name = #{brandEnglishName}</if>
       <if test=" groupId != null "> AND group_id = #{groupId}</if>
       <if test=" createDate != null "> AND create_date = #{createDate} </if>
       <if test=" createUser != null "> AND create_user = #{createUser} </if>
       <if test=" lastUpdateDate != null "> AND last_update_date = #{lastUpdateDate} </if>
       <if test=" lastUpdateUser != null "> AND last_update_user = #{lastUpdateUser} </if>
       <if test=" activeFlag != null and activeFlag != 0 "> AND active_flag = #{activeFlag} </if>
   </select>
   
   <!-- 新增 -->
   <insert id="insertBrand" parameterType="com.huazhu.application.cms.organization.entity.Brand" useGeneratedKeys="true">
        INSERT INTO org_brand
        <trim prefix="(" suffix=")" suffixOverrides="," >
        
			<if test=" rowId != null " > row_id , </if>
			<if test=" brandChineseName != null "> chinese_name , </if>
            <if test=" brandEnglishName != null "> english_name , </if>
            <if test=" groupId != null "> group_id , </if>
			<if test=" createDate != null "> create_date , </if>
			<if test=" createUser != null "> create_user , </if>
			<if test=" lastUpdateDate != null "> last_update_date , </if>
			<if test=" lastUpdateUser != null "> last_update_user , </if>
			<if test=" activeFlag != null "> active_flag , </if>
			
		</trim>
		<trim prefix="VALUES (" suffix=")" suffixOverrides="," >
		
			<if test=" rowId != null "> #{rowId} , </if>
			<if test=" brandChineseName != null "> #{brandChineseName} , </if>
            <if test=" brandEnglishName != null "> #{brandEnglishName} , </if>
            <if test=" groupId != null "> #{groupId} , </if>
			<if test=" createDate != null "> #{createDate} , </if>
			<if test=" createUser != null "> #{createUser} , </if>
			<if test=" lastUpdateDate != null "> #{lastUpdateDate} , </if>
			<if test=" lastUpdateUser != null "> #{lastUpdateUser} , </if>
			<if test=" activeFlag != null "> #{activeFlag} , </if>
			
		</trim>
   </insert>
   
   <!-- 编辑 -->
   <update id="updateBrandByRowId" parameterType="com.huazhu.application.cms.organization.entity.Brand">
        UPDATE org_brand
		<set>
			<if test=" brandChineseName != null "> chinese_name = #{brandChineseName} , </if>
            <if test=" brandEnglishName != null "> english_name = #{brandEnglishName} , </if>
            <if test=" groupId != null "> group_id = #{groupId} , </if>
			<if test=" lastUpdateDate != null "> last_update_date = #{lastUpdateDate} , </if>
			<if test=" lastUpdateUser != null "> last_update_user = #{lastUpdateUser} , </if>
			<if test=" activeFlag != null "> active_flag = #{activeFlag} , </if>
		</set>
		WHERE
			row_id = #{rowId}
   
   </update>
   
   
   <delete id="deleteBrandByRowId" parameterType="java.lang.Long">
        DELETE FROM org_brand WHERE row_id = #{rowId}
   </delete>
   
   <!-- 通过集团查询品牌 -->
   <select id="queryBrandByGroupId" resultType="com.huazhu.application.cms.organization.entity.Brand" parameterType="java.lang.Long">
       SELECT
          <include refid="ObjectSql"/>
       FROM org_brand
       WHERE group_id = #{groupId}
   </select>

    <select id="getBrandList" resultType="com.huazhu.application.cms.article.dto.BrandDTO">
        SELECT
            row_id AS rowId,
            chinese_name AS chineseName
        FROM
            org_brand
        WHERE active_flag=10
    </select>

</mapper>