<div class="container-fluid">
	<div class="row top7">
		<div class="col-sm-2 text-right">客户名称</div>
		<div class="col-sm-4 text-left">
			<input type="text" id="customerNickName" />
		</div>
		<div class="col-sm-2 text-right">客户性别</div>
		<div class="col-sm-4 text-left">
			<input type="text" id="customerNickName" />
		</div>
	</div>
	<div class="row top7">
		<div class="col-sm-2 text-right">关注时间</div>
		<div class="col-sm-8 text-left">
			从
			<input type="text" id="customerNickName" />
			至
			<input type="text" id="customerNickName" />
		</div>
		<div class="col-sm-2 text-left">
			<button id="fat-btn" class="btn btn-primary" data-loading-text="搜索" type="button">搜索</button>
		</div>
	</div>
	
	<hr />

	<div class="row top15">
		<table id="userUserListDataTable" class="display" style="width: 100%">
			<thead>
				<tr>
					<th>昵称</th>
					<th>性别</th>
					<th>openid</th>
					<th>状态</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Row 1 Data 1</td>
					<td>Row 1 Data 2</td>
				</tr>
				<tr>
					<td>Row 2 Data 1</td>
					<td>Row 2 Data 2</td>
				</tr>
			</tbody>
		</table>
	</div>
	</table>
</div>
<script th:src="@{local/js/user/userList.js}"></script>